/*------------ Section Tarifs ------------*/

.titre-tarifs {
    background: #f1f1f1;
    font-size: 50px;
    text-align: center;
    padding: 50px 0;
}
#tarifs {
    background: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    max-width: 1300px;
    min-width: 300px;
    margin: 0 auto 100px;
}

.carte-tarif {
    width: 350px;
    height: auto;
    background-image: repeating-linear-gradient(
            22.5deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px,
            transparent 31px,
            rgba(255, 255, 255, 0.05) 31px,
            rgba(255, 255, 255, 0.05) 32px,
            transparent 32px,
            transparent 92px
        ),
        repeating-linear-gradient(
            112.5deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px,
            transparent 31px,
            rgba(255, 255, 255, 0.05) 31px,
            rgba(255, 255, 255, 0.05) 32px,
            transparent 32px,
            transparent 92px
        ),
        repeating-linear-gradient(
            0deg,
            rgba(255, 255, 255, 0.05) 0px,
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px,
            transparent 31px,
            rgba(255, 255, 255, 0.05) 31px,
            rgba(255, 255, 255, 0.05) 32px,
            transparent 32px,
            transparent 92px
        ),
        linear-gradient(90deg, hsl(279, 0%, 3%), hsl(279, 0%, 3%));
    color: #f1f1f1;
    margin: 20px 10px;
    border-radius: 5px;
}

.carte-tarif h3 {
    text-align: center;
    font-size: 45px;
    margin: 25px 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    position: relative;
}
.prix-carte {
    text-align: center;
    font-size: 30px;
    margin: 25px 0;
}
.prix-carte span {
    font-size: 80px;
    position: relative;
}
.prix-carte span::after {
    content: '€';
    display: block;
    position: absolute;
    top: 10px;
    right: -20px;
    font-size: 25px;
}
.infos-carte {
    width: 170px;
    margin: 20px auto 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 22px;
}
.infos-carte img {
    margin-right: 7px;
    width: 20px;
}